.maincontainer{
  width: 100%;
  height: 100%;
  max-width: 1800px;
  margin: 0 auto;
}
.maincontainer-footer{
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: var(--primary-color);
  font-size: 1.5rem;
}
select{
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(/img/icons/dropdown.png);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: right;
  }
  .filter{
  border-radius: var(--border-radius);
  background-color: var(--active-bg);
  padding: 0.5em;
  outline: none;
  --moz-box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  color: var(--primary-color);
  border: none;
  }