.contactlist-contacts{
    height: calc(100% - 5.5rem);
    width: calc(100% - 4rem);
    margin: 0 auto;
    overflow: auto;
}
.contact-text{
    background-color: var(--grid-bg);
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    border-radius: 3px;
    padding: 0.5625rem 0.5rem;
}
.contact-label{
    color: var(--secondary-color);
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 0.5rem;
}
.contact-activetext{
    background-color: var(--active-bg);
}
.contactinfo-block{
    width: calc(100% - 2rem);
    margin: 0 auto;
    height: calc(100% - 5.5rem);
}
.contact-activetext{
    background-color: var(--active-bg);
}