.childcontainer{
    width:100%;
    height: calc(100% - 5.3125rem);
    position: relative;
    z-index: 1;
}
.childcontainer-box{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    min-width: 700px;
    position: relative;
    background-color: var(--main-bg);
}
.childcontainer-left{
    width: 75%;
}
.childcontainer-right{
    width: 25%;
}
.childcontainer-heading{
    color: var(--primary-color);
    font-size: 1.5rem;
}
.childcontainer-inner{
    height: calc(100% - 2.5rem);
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
}
.childcontainer-btn{
    padding: 0.75rem 0.3125rem;
    color: var(--primary-color);
    border: none;
    background-color: var(--btn-bg);
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: 0.5s;
}
.childcontainer-sidebtn{
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-size: 0.8125rem;
    outline: none;
    padding: 0.375rem;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.childcontainer-btn:active, .childcontainer-sidebtn:active{
    transform: scale(0.9);
}
.childcontainer-card{
    background-color: var(--grid-bg);
    margin-top: 1rem;
    height: calc(100% - 4.1875rem);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}
.childcontainer-status{
    width: 0.7rem;
    height: 0.7rem;
    display: block;
    border-radius: 50%;
}
.childcontainer-online{
    background-color: var(--online-bg);
}
.childcontainer-offline{
    background-color: var(--offline-bg);
}
.childcontainer-label{
    width: 100%;
    color: var(--secondary-color);
    font-size: 13px;
    font-family: var(--italic-font);
}
.childcontainer-input{
    width: 100%;
    border: none;
    outline: none;
    color: var(--primary-color);
    background-color: transparent;
    margin: 0.3125rem 0 0.75rem;
    font-size: 1rem;
    padding: 0.25rem 0;
    cursor: auto;
    border-bottom: 1px solid var(--secondary-bg);
    /* border-bottom-style: groove; */
}
.childcontainer-dropdown{
    width: 100%;
}
.childcontainer-card-details{
    height: 100%;
    overflow: auto;
    border-radius: var(--border-radius);
}
.childcontainer-value{
    color: var(--primary-color);
    word-break: break-word;
}
.childcontainer-no-data-text{
    color:var(--primary-color);
    font-family: var(--italic-font);
}
.widgets{
    position: absolute;
    top: 3rem;
    right: 1rem;
    width: calc(25%);
    z-index: -1;
}
.date-time{
    color: var(--primary-color);
    text-align: right;
    margin-bottom: 1rem;
}
.time{
    font-size: 55px;
}
.date{
    font-size: 28px;
}
.weather-widget{
    width: 90%;
    margin-left: 10%;
}