.settings-parent{
    /* background-color:var(--main-bg); */
    color: var(--primary-color);
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    overflow:auto;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.settings-child{
    /* width: calc(100% - 200px); */
    margin: 0 auto;
    position: relative;
}

.settings-scroll-section{
    height: 100%;
    overflow:auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;

}
::-webkit-scrollbar {
    display: none;
}
.settings-type{
    width:100%;
    padding: 2px;
    
    display:flex;
    justify-content: space-between;
    align-items: center;
   
    padding:1%;
}
.settings-type-text{
    margin: 0px;
    font-size: 1rem;
    cursor:pointer;
    color: var(--secondary-color);
}
.settings-heading{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--primary-color);
}
.settings-input{
    border-radius: 10px;
    border: 1px solid var(--settings-color);
    background-color: var(--active-bg);
    color: var(--settings-color);
    outline: none;
    padding: 8px;
    width: 100%;
    font-size:1rem;
   
}
.settings-label{
    padding: 5px 0px;
    color: var(--secondary-color);
    margin-left:5px;
    font-size:1rem;
}
.settings-button{
    background-color: transparent;
    color: var(--active-color);
    outline: none !important;
    border: none;
    padding: 2px 12px;
    cursor:pointer;
}
.settings-done-button{
    background-color: #3693FF;
    color:#ffffff;
    border-radius:5px
}
.settings-done-button .settings-button{
    color: var(--primary-color);
}
.settings-name{
    margin:0px;
    padding: 5px 0px;
    color: var(--settings-color);
}
.align-end{
    max-width:100%;
    align-self: flex-end;
    display:flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding:0px 10px;
}
.align-right{
    display: block;
    margin-left: auto;
    margin-top: 15px;
}
.settings-dropdown{
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('./../../../../img/settings/dropdown_open.png');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: right;
}
.mtp-10{
    margin-top: 10px;
    background:var(--grid-bg);
    border-radius: 5px;
    padding: 1%;
}
.settings-form-buttons{
    margin-top:3%;
    display:flex;
    align-items: center;
}

.vendor-information{
    background: var(--grid-bg);
  padding: 2%;
  border-radius: 5px;
}