.navbar{ 
    display: flex;
    height: 5.3125rem;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
}
.navbar-left{
    color: var(--primary-color);
    margin-left: 1rem;
}
.navbar-right{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}
.navbar-heading{
    font-size: 1.75rem;
    font-family: var(--bold-font);
    text-transform: capitalize;
    line-height: 1.75rem;
}
.navbar-sideheading{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.navbar-icon{
    height: 2rem;
    align-self: center;
    cursor: pointer;
    margin-left: 2rem;
}
.navbar-icon:active{
    transform: scale(0.95);
}
.footer{
    position: fixed;
    bottom: 1rem;
    right: 0.675rem;
    z-index: 20;
}
.footer-text{
    font-size: 1.25rem;
}

