.maininfo-btn-container{
    margin-top: 0.5rem;
    justify-content: space-evenly;
    float: right;
}
.maininfo-btn{
    /* width: 40%;
    margin-inline-start: auto; */
    display: block;
    background-color: var(--active-color);
    margin-bottom: 0.5rem;
    padding: 0.625rem 0;
    width: 10rem;
}

.maininfo-card-info{
    height: calc(100% - 4.4rem);
    overflow: auto;
    background-color: var(--main-bg);
    padding: 0.5rem;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: 0px 3px 6px #000000;
}
.maininfo-block{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.maininfo-col3{
    width: 31%;
}
.maininfo-col2{
    width: 48%;
}
.maininfo-row{
    width: 100%;
}
