.remote-container{
    width: calc(100% - 2rem);
    margin: 0 auto;
    height: 100%;
}
.remote-text{
    font-size: 30px;
    color: var(--secondary-color);
    text-align: center;
    align-self: center;
}
.remote-left{
    height: calc(100% - 24px);
    display: flex;
    justify-content: center;
}