.setting-buttons{
    display:flex;
    justify-content: flex-end;
    align-items: right;
}


.static-container{
    background-color: var(--grid-bg);
    padding:1%;
    border-radius:5px;
    margin-bottom: 1%;
}
.dhcp-radiobutton{
    height: 15px;
    width: 15px;
    background-color: var(--primary-color);
    border-radius: 50px;
    margin: 1%;
    cursor:pointer
}
.dhcp-checkbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--grid-bg);
    width: 20%;
    padding: 0.2rem;
    justify-content: space-evenly;
    border-radius: 5px;
}
.dhcp-main-container{
    background-color: var(--grid-bg);
    width:80%;
    padding:1%;
    border-radius:5px;
    margin-top:1%;
}
.isp-form-dhcp-row{
    display:flex;
    justify-content: space-between;
    width:80%;
    margin:2% auto;
 
}
.dhcp-input{
    width:50%;
}
.radiobutton-selected{
    background:var(--active-color)
}
.sclera-isp-loader-section{
    width:872px;
    height:251px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.dhcp-loader-section{
    width:710px;
    height:174px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.dhcp-checkbox-loader{
    display:flex;
    justify-content:center;
    align-items: center;
}