.alert-modal-card{
    background-color: var(--grid-bg);
    width: 380px;
    margin: auto;
    padding: 20px;
    box-shadow: var(--settings-shadow);
    border-radius: 10px;
    position: relative;
    top: 40%;
}
.alert-modal{
    background-color: rgba(21,21,21,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index:10 !important;
   
    
}
.alertmodal-header-text{
    text-align: center;
    width: 70%;
    margin: 15px auto;
    text-align: center;
    line-height: 1.5rem;
}

.alert-modaltext-red{
    color:red;
}