/* .Toastify__toast {
    border-radius: 5px; 
    min-height: 55px;
    width:100%;
    opacity:0.8;
    background-color: var(--secondary-bg);
    padding:0;
    }
.Toastify__toast-body{
    display:flex;
    align-items: center;  
    text-align: center;
    justify-content: center;
    margin:0;
}
.text-basic-color{
    border:1px solid red;
}
.Toastify__toast-container--top-right{
    top:5rem;
}
.Toastify__close-button {
    display:none;
}
.notification-header-text{
    text-align: center;
    margin:6% 5%;
    
}
.toast-section-red{
    border:1px solid red;
    width:100%;
    border-radius:8px;
}

.toast-section{

    width:100%;
    border-radius: 8px;
} */