.addVendor-plus {
  display:inline-block;
  width:20px;
  height:20px;
  background:
    linear-gradient(var(--main-bg),var(--main-bg)),
    linear-gradient(var(--main-bg),var(--main-bg)),
    #01BBF6;
  background-position:center;
  background-size: 50% 2px,2px 50%; 
  background-repeat:no-repeat;
  border-radius:50%;
  vertical-align: middle;
  cursor:pointer;
}


