.dashboard-card-container{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    width: 100%;
    grid-gap: 1.5rem;
    margin-top: 1.5rem;
}
.dashboard-card-blocks{
    background-color: var(--grid-bg);
    color: var(--primary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dashboard-card{    
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    cursor: pointer;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}
.dashboard-heading{
    color: var(--primary-color);
    font-size: 1.5rem;
}
.dashboard-card-btn{
    width: 100%;
    margin: 0 auto;
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 1.1rem;
    /* border-radius: 0px; */
    box-shadow: none;
    text-align: center;
    background-color: var(--main-bg);
}
.dashboard-card-btn:active{
    transform: scale(1);
}
.dashboard-acknowleged{
    background-color: var(--secondary-bg);
}
.dashboard-activecard{
    background-color: var(--active-bg);
}
.dashboard-card-device{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.8rem;
}
.dashboard-card-deviceinfo{
    width: calc(100% - 60px - 1rem);
    align-self: center;
    text-align: left;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.dashboard-card-devicetype{
    width: 60px;
    height: 60px;
    margin-top: 0.5rem;
}
.dashboard-card-vendordetails{
    padding: 0.5rem 0;
    border-radius: var(--border-radius);
    /* margin: 0.5rem 0; */
}
.dashboard-statusblock{
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    display: flex;
}
.dashboard-status{
    margin-left: 0.5rem;
}
.dashboard-card-vendordetail{
    display: flex;
    width: calc(100% - 0.675rem);
    flex-wrap: wrap;
    margin-bottom: 0.3rem;
    margin-left: 0.675rem;
}
.dashboard-card-value{
    margin-bottom: 0.3rem;
    text-align: left;
}
.dashboard-card-devicename{
    font-size: 1rem;
    margin-bottom: 0.3rem;
}
.dashboard-card-vendorvalue{
    text-align: left;
    margin-left: 0.675rem;
    width: calc(70% - 0.675rem);
}
.dashboard-card-label{
    font-size: 0.8rem;
    font-family: roboto-italic;
    color: var(--secondary-color);
    width: 20%;
    text-align: left;
    align-self: center;
}
.dashboard-card-location{
    font-family: roboto-italic;
    font-size: 0.9rem;
    color: var(--secondary-color);
}
.dashboard-card-colon{
    width: 0.675rem;
}
.dashboard-card-time{
    font-size: 0.7rem;
}
.dashboard-activegrid{
    background-color: var(--active-bg);
}
.dashboard-notify{
    background-color: var(--offline-bg);
}
.dashboard-awaiting{
    background-color: #f47d21;
}
.dashboard-resolved{
    background-color: #438a5e;
}
.dashboard-card-notify{
    border: 1px solid var(--offline-bg);
}
.dashboard-card-awaiting{
    border: 1px solid #f47d21;
}
.dashboard-card-resolved{
    border: 1px solid #438a5e;
}
.dashboard-info-more{
    color:var(--active-color);
    background-color: transparent;
    border: none;
    float: right;
    font-size: 1.1rem;
}
.dashboard-card-btnblock{
    position: relative;
    background-color: var(--main-bg);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
}
.dashboard-bell{
    align-self: center;
    margin-right: 10px;
}
