.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.folding {
    margin: 0px auto;
    width: 22px;
    height: 22px;
    position: relative;
    transform: rotateZ(45deg);
   }
   
   .folding .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
   }
   
   .folding .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--active-color);
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    transform-origin: 100% 100%;
   }
   
   .folding .sk-cube2 {
    transform: scale(1.1) rotateZ(90deg);
   }
   
   .folding .sk-cube3 {
    transform: scale(1.1) rotateZ(180deg);
   }
   
   .folding .sk-cube4 {
    transform: scale(1.1) rotateZ(270deg);
   }
   
   .folding .sk-cube2:before {
    animation-delay: 0.3s;
   }
   
   .folding .sk-cube3:before {
    animation-delay: 0.6s;
   }
   
   .folding .sk-cube4:before {
    animation-delay: 0.9s;
   }
   
   @keyframes sk-foldCubeAngle {
    0%,
    10% {
     transform: perspective(140px) rotateX(-180deg);
     opacity: 0;
    }
    25%,
    75% {
     transform: perspective(140px) rotateX(0deg);
     opacity: 1;
    }
    90%,
    100% {
     transform: perspective(140px) rotateY(180deg);
     opacity: 0;
    }
   }