.sclera-config-container{
    background: var(--grid-bg);
    padding:1%;
    border-radius:5px;
}
.sclera-config-button-form{
    width:32%;
    display:flex;
    justify-content: flex-end;
    margin-bottom:6%;
}
.sclera-radio-form-row{
    margin:3% 0 1% 0;
}
.sclera-loader-section{
    width:100%;
    height:370px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.agentinfo-loader-section{
    width:100%;
    height:76px;
    display:flex;
    justify-content: center;
    align-items: center;
}