.radiobutton{
    height:15px;
    width:15px;
    background-color:var(--secondary-color);
    border-radius:50px;
    margin:7%
}

.basic-checkbox{
    display:flex;
    justify-content:space-between
}
.settings-radio-form{
    width:30%;
    display:flex;
    justify-content: space-around;
    background:var(--main-bg);
    align-items: center;
  margin-left:1.5%;
    border-radius:5px;
}
.radio-button-row{
    width:40%;
    display:flex;
    margin:0 2%;
    align-items:center;
    text-align:center;
    flex-wrap: wrap;
}
.isp-form-row{
    display:flex;
    align-items: center;
    
}
.radiobutton-selected{
    background:var(--active-color)
}
.router-buttons{
    width:3.5%;
    display:flex;
    justify-content: space-between;
}
.save-button{
    background:none;
    border:none;
    outline:none;
  padding:0 1%;
  cursor:pointer;
    
}
.edit-button{
    background:none;
    border:none;
    outline:none;
  padding:0 1%;
  cursor:pointer;
    
}
.save-button img {
    width:20px;
    
}
.edit-button img {
    width:23px;
    
}

.settings-radio-form{
    
    display:flex;

}
.isp-container{
    border-radius: 5px;
    background-color: var(--grid-bg);
    padding:2% 1%;
}
.isp-loader-section{
    height:258px;
    width:872px;
    display:flex;
    justify-content: center;
    align-items: center;
}
