.deviceinfo-vendor{
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grid-bg);
    box-shadow: none;
    padding: 0.5rem;
    flex-wrap: wrap;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.deviceinfo-vendor:active{
    transform: none;
}
.deviceinfo-vendordata{
    background-color: var(--grid-bg);
    margin-bottom: 0.5rem;
    border-radius: var(--border-radius);
}
.othervendor{
    background-color: unset;
}
.othervendor-button{
    border-radius: var(--border-radius);
}
.othervendor-body{
    margin-top: 0.5rem;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
