.authenticationModal{
    background-color: rgba(21,21,21,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index:10 !important;
   
    
}
.auth-loader-section{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 340px;
    height: 320px;
}

.authenticationModal-card{
    background-color: var(--grid-bg);
    width: 380px;
    margin: auto;
    padding: 20px;
    box-shadow: var(--settings-shadow);
    border-radius: 10px;
    position: relative;
    top: 30%;
   
}
.authenticationModal-header{
    width: 100%;
    margin-top: 32px;
    display:flex;
    flex-direction: column;
}
.authenticationModal-cancel{
    float: right;
    cursor:pointer;
}
.authenticationModal-header-icon{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.authenticationModal-header-text{
    text-align: center;
    width: 70%;
    margin: 15px auto;
    text-align: center;
    color:var(--secondary-color);
    line-height: 1.5rem;
}
#authenticationModal .authenticationModal-block{
    width: 70%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}
#authenticationModal .authenticationModal-input{
    margin-bottom: 20px;
    color:var(--primary-color)
}
#authenticationModal .authenticationModal-confirm{
    background-color: #0049EE;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 2px #00000040;
    padding:10px 0;
    margin:0 50px;
    font-size:1rem;
}
#authenticationModal .authenticationModal-error{
    color:#FF3B3B;
    font-size: 16px;
    /* text-align: center; */
}