.settings-mode{
    padding: 10px;
    width:50%;
    display:flex;
    align-items:center
}
.configuration-mode{
    display:flex;
    width:40%;
}
.router-section{
    border-radius:5px;
    margin-bottom:2%
}
.router-container {
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom:0.3rem;
}
.settings-mode-form{
    display:flex;
}

.settings-radio-button{
    display: inline-block;
    margin:0.5rem;
}
.mode-radio{
    border-radius:10px;
    background-color: var(--secondary-color);
    cursor: pointer;
    padding:3.5px;
    margin:0.5rem
}
.mode-label{
    color:var(--secondary-color);
    font-size:1rem
}
.mode-inner-radio{
    width:14px;
    height:14px;
    border-radius:8px;
    border: 2.5px solid var(--main-bg); 
    cursor: pointer;
}
.mode-radio-selected{
    background-color: var(--active-color);
}
.settings-sclera-row{
    display:flex;
}
.settings-form-data{
    width:30%;
   display:flex;
   flex-direction: column;
   justify-content: space-between;
    margin: 0.5rem 0.7rem;
}
.settings-sclera-form-data{
    width:45%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
     margin: 0.5rem 0.7rem;
}
.settings-form{
    width:100%;
    background:var(--grid-bg);
    padding:1%;
    border-radius:5px;
}

.router-container{
    width:100%;
   
}
.settings-sclera-form{
display:flex;
width:60%;
}
.sclera-port-button{
    display:flex;
    align-items: center;
    margin-top:3% ;
    margin-left:2%; 
}
