.modal-container {
  background:rgba(0,0,0,0.8);
  position: fixed;
  width:100%;
  height:100%;
  z-index: 100;
  display: flex;
}
.modal-content {
  width: 100%;
  max-width: 670px;
  padding: 2rem;
  z-index:10 !important;
  box-shadow: var(--shadow); 
  background-color: var(--grid-bg);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 0.2rem solid var(--offline-bg);
  box-shadow: 0 0 10px red;
  -webkit-animation: shadowFadeOut infinite 3s;
 }
 .modal-dashboard-msg{
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.15rem;
  color: var(--secondary-color);
  font-family: roboto-italic;
  word-spacing: 3px;
 }
 .modal-btn-container{
    display: flex;
    justify-content: space-evenly;
 }
 .modal-btn {
  width: 10em;
  font-size: 0.8rem;
  background-color: transparent;
  -webkit-box-shadow: var(--shadow);
  --moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  border: 1px solid var(--offline-bg);
  outline: none;
  border-radius: 9px;
  color: var(--primary-color);
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  text-align: center;
}
.modal-btn:active{
  transform: scale(0.98);
}
.modal-alert{
  background-color: var(--offline-bg);
}

.modal-dashboard-device{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.modal-dashboard-icon{
  width: 90px;
  height: 90px;
}
.modal-dashboard-deviceblock{
  display: flex;
  margin-bottom: 0.5rem;
}
.modal-dashboard-deviceinfo{
  width: calc(100% - 100px);
}
.modal-dashboard-label{
  width: 20%;
  color: var(--secondary-color);
  font-family: roboto-italic;
}
.modal-dashboard-vendor{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  font-style: italic;
  color: var(--secondary-color);
}
.modal-dashboard-vendorblock{
  width: 50%;
  display: flex;
  margin-bottom: 0.5rem;
}
.modal-dashboard-colon{
  width: 10px;
}
.modal-dashboard-value{
  width: 50%;
}
@keyframes shadowFadeOut {
  0% { box-shadow: 0 0 10px red; }
  50% { box-shadow: 0 0 40px red; }
  100% { box-shadow: 0 0 10px red; }
}
.modal-dashboard-devicemsg{
  text-align: left;
}
.modal-dashboard-devicehighlight{
  font-family: lato-regular;
  color: var(--primary-color);
  font-weight: bold ;
  font-style: italic;
}
