.notification-container{
    height:100%;
    width:100%;
    background:purple;
    color:#fff;
}
.device-notification-tabs{
    display: block;
    position: relative;
    /* padding: 5px; */
}
.device-notification-status{
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    font-size: 10px;
    font-family: roboto-italic;
}
.device-notification-details{
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
}
.device-notification-text{
    font-size: 14px;
    margin-right: 5px;
}
.device-notification-highlight{
    font-style: italic;
    font-weight: bold;
}
.device-notification-statustext{
    margin-right: 5px;
}