.dashboard-info-type{
    padding: 0.675rem;
    border-radius: var(--border-radius);
    color: var(--primary-color);
    margin-bottom: 0.675rem;
    text-align: center;
}
.dashboard-info-container{
    border-radius: var(--border-radius);
}