.report-chart{
    width: calc(100% - 2rem);
    margin-left: 1rem;
    flex-direction: column;
    height: calc(100% - 6rem);
    overflow: auto;
}
.report-range-header{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    justify-content: space-between;
}
.report-header-left{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.report-chart-buttons{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.report-btn{
    background-color: var(--active-bg);
    padding: 0.5rem 0.675rem;
    border-radius: var(--border-radius);
    margin-left: 0.675rem;
    display: flex;
    align-items: center;
    box-shadow: var(--shadow);
}
.report-icons{
    margin-right: 0.625rem;
}
.report-range-label{
    font-size: 0.675rem;
}
.report-calendar{
    display: flex;
    align-items: center;
}
.report-calendar-btn{
    padding: 0.5625rem;
}
.report-calendar-label{
    margin-left: 0.675rem;
}
.report-range-custom-wrapper{
    position: absolute;
    display: flex;
    padding: 0.675rem;
    font-size: 0.8rem;
    border: 1px solid var(--active-bg);
    background-color: var(--secondary-bg);
    color: var(--primary-color);
    border-radius: var(--border-radius);
}
.report-range-list{
    list-style: none;
}
.report-range-days{
    padding-right: 10px;
    border-right: 1px solid var(--active-bg);
}
.report-range-date{
    padding-left: 10px;
}
.report-range-li{
    padding: 0.3125rem;
    margin-bottom: 0.3125rem;
    cursor: pointer;
}
.report-range-li:hover{
    text-decoration: underline;
}
.report-range-dates{
    padding: 0.3125rem;
}
.report-range-date-heading{
    margin-left: 0.3125rem;
    margin-top: 0.3125rem;
}
.report-range-date-picker{
    margin-top: 0.3125rem;
    border: 1px solid var(--secondary-bg);
    background-color: var(--active-bg);
    color: var(--primary-color);
    padding: 0.1875rem 0.5rem;
    border-radius: var(--border-radius);
    outline: none;
}
.report-range-timeframe-body{
    background-color: #4E737E;
    margin-left: 1rem;
    padding: 3px 20px;
    border-radius: var(--border-radius);
}
.report-range-selected{
    background-color: var(--active-bg);
    padding: 0.675rem;
    max-width: 11rem;
    width: 100%;
}
.report-range-vendor-dropdown{
    width: 100%;
    max-width: 11rem;
}
.portal-close-btn {
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    float: right;
    margin-top: 0.75rem;
    margin-right: 0.675rem;
}

.report-modal-block{
    margin-top: 1rem;
}
.report-modal-input{
    border-bottom: 1px solid var(--primary-color);
}
 
.report-modal-input:focus {
outline: none;
}

.report-modal-input.has-error {
border-bottom-color: tomato;
color: tomato;
}

.error {
color: var(--primary-color);
margin-top: 1rem;
text-align: center;
}
.chartjs-render-monitor{
    background-color: var(--active-bg);
    padding: 0.675rem;
    border-radius: var(--border-radius);
}
#ctx{
    width: 100% !important;
    height: calc(100% - 8rem) !important;
}

.report-stats{
    margin-top: 0.675rem;
    padding: 0.675rem;
    background-color: var(--active-bg);
    color: var(--primary-color);
    font-family: roboto-italic;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: 0.675rem;
}
.report-stats-heading{
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.675rem 0;
}
.report-stats-block{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0.675rem 0;
}
.report-stats-label{
    width: 40%;
}
.report-stats-value{
    width: 40%;
}
.report-stats-dots{
    width: 10%;
}



