.devicelist-container{
    height: 100%;
}
.devicelist-status{
    width: 0.675rem;
    height: 0.675rem;
    align-self: center;
}
.devicelist-header{
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.devicelist-heading{
    display: flex;
    width: 50%;
    font-size: 0.8125rem;
    color: var(--primary-color);
    padding: 0.675rem;
    justify-content: center;
}
.devicelist-activeheading{
    background-color: var(--main-bg);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.devicelist-body{
    height: calc(100% - 2.1875rem);
}
.devicelist-card{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    background-color: var(--grid-bg);
    padding: 0.675rem;
    color: var(--primary-color);
    margin-bottom: 0.6rem;
    border-radius: var(--border-radius);
    cursor: pointer;
}
.devicelist-infobody{
    padding: 1.35rem 0.675rem 0.675rem 0.675rem;
    background-color: var(--main-bg);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.devicelist-name{
    width: 47%;
}
.devicelist-location{
    width: 46%;
    font-family: roboto-italic;
    font-size: 0.875rem;
    color: var(--secondary-color);
}
