.homecontainer-block{
    width: calc(100% - 2rem);
    margin: 0 auto;
    height: 100%;
}
.homecontainer-grid-container{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    width: 100%;
    grid-gap: 1.5rem;
    margin-top: 1.5rem;
}
.homecontainer-grid{    
    background-color: var(--grid-bg);
    color: var(--primary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}
.homecontainer-midgrid{
    padding: 0.625rem;
}
.midgrid{
    box-shadow: unset;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}
.homecontainer-grid:active{
    transform: scale(0.98);
}
.homecontainer-activegrid{
    background-color: var(--active-bg);
}
.homecontainer-grid-icon{
    width: 65px;
    align-self: center;
    justify-content: center;
    margin-top: 0.5rem;
}
.homecontainer-status{
    align-self: center;
    position: absolute;
    top: 0.3125rem;
    right: 0.3125rem;
}
.homecontainer-selectgrid{
    width: 100%;
    background-color: var(--secondary-bg);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.homecontainer-select{
    width: 25px;
    margin: auto;
    display: block;
}
.homecontainer-value{
    margin-top: 0.675rem;
    margin-bottom: 0.675rem;
}
.homecontainer-btn-container{
    display: grid;
    grid-gap: 1.5rem;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}
.homecontainer-activebtn{
    background-color: var(--active-color);
}
.homecontainer-sidebtn-container{
    display: flex;
    justify-content: space-between;
}
.homecontainer-activesidebtn{
    color: var(--active-color);
    border-bottom: 1px solid var(--active-color);
}