:root{
  --main-bg:#000000;
  --secondary-bg:#2b2b2b;
  --btn-bg:#151515;
  --offline-bg:#db3636;
  --online-bg:#6ac873;
  --active-bg:#373737;
  --grid-bg: #151515;
  --primary-color:#ffffff;
  --secondary-color:#b7b7b7;
  --active-color:#1e65e0;
  --border-radius: 0.5rem;
  --regular-font: roboto-regular;
  --italic-font: roboto-italic;
  --bold-font: roboto-bold;
  --bold_italic-font: roboto-bold-italic;
  --shadow: 0px 3px 6px #000000;
}
@font-face{
  font-family: "roboto-regular";
  src: url("/assets/fonts/roboto/Roboto-Regular.ttf");
}
@font-face{
  font-family: "roboto-italic";
  src: url("/assets/fonts/roboto/Roboto-Italic.ttf");
}
@font-face{
  font-family: "roboto-bold";
  src: url("/assets/fonts/roboto/Roboto-Bold.ttf");
}
@font-face{
  font-family: "roboto-bold-italic";
  src: url("/assets/fonts/roboto/Roboto-BoldItalic.ttf");
}
@font-face{
  font-family: "roboto-light";
  src: url("/assets/fonts/roboto/Roboto-Light.ttf");
}
::-webkit-scrollbar{ 
  width: 0 !important;
  height: 0;
}
*{
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}
html{
  padding:0;
  margin:0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11*/
  scrollbar-width: none; /* Firefox 64*/
}
body{
  overflow: hidden;
  height: 100%;
  font-family: var(--regular-font);
}
#root{
  height: 100%;
  position: fixed;
  z-index: 0;
  width: 100%;
  background-color: var(--main-bg);
}
/* Notification Toastify*/
.Toastify__toast{
  background-color: var(--secondary-bg) !important;
  border-radius: var(--border-radius) !important;
  font-family: var(--regular-font) !important;
}
.Toastify__toast-container{
  width: 490px !important;
}
.Toastify__close-button{
  color: var(--primary-color)!important;
}
.notification-toast{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--primary-color);
  background-color: var(--secondary-bg);
  margin-top: 0.6rem;
}
.notification-toast-img{
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
}
.notification-toast-msg{
  width: calc(100% - 60px);
  padding: 0 0.675rem;
  border-radius: var(--border-radius);
  margin-top: 0.375rem;
  font-size: 0.9rem;
}
.notification-toast-statusblock{
  position: absolute;
  top: 0.6rem;
  right: 3rem;
  display: flex;
}
.notification-toast-lastseen{
  font-family: var(--italic-font);
  color: var(--secondary-color);
  font-size: 0.8rem;
}
.notification-toast-status{
   margin-right: 0.5rem;
   align-self: center;
   width: 0.6rem;
   height: 0.6rem;
}
.notification-toast-location{
  margin-top: 0.5rem;
  display: flex;
}
.notification-toast-locationtxt{
  font-size: 0.9rem;
}
.notification-toast-locationimg{
  width: 0.56rem;
  height: 0.8rem;
  margin-right: 0.3rem;
}
.notifcation-toast-highlight{
  font-family: var(--bold_italic-font);
  color: var(--secondary-color);
  margin: 0 0.4rem;
}

