/*animation*/
.slide {
  right: calc(-35%);
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.1s;
  animation: slide 0.5s forwards;
  animation-delay: 0.1s;
}

@-webkit-keyframes slide {
  100% { right: 0; }
}

@keyframes slide {
  100% { right: 0; }
}

/*notification count*/
.speech-bubble-ds {
  background: red;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 5px;
  position: absolute;
  width: 30px;
  top: 0px;
  right: 60px;
  height: 20px;
}
.speech-bubble-ds p {
  margin-top: 0px;
  text-align: center;
  color: white;
}
.speech-bubble-ds p:last-of-type {
  margin-bottom: 0;
}
.speech-bubble-ds-arrow {
  border-left: 21px solid transparent;
  bottom: -23px;
  position: absolute;
  right: 16px;
}
.speech-bubble-ds-arrow::before {
  border-left: 20px solid transparent;
  bottom: 2px;
  content: "";
  position: absolute;
  right: 5px;
}
.speech-bubble-ds-arrow::after {
  border-left: 21px solid transparent;
  border-top: 21px solid red;
  bottom: 10px;
  content: "";
  position: absolute;
  right: -16px;
}

.notification{
  position: fixed;
  width: 35%;
  border-radius: var(--border-radius);
  right: 0px;
  top: 5rem;
  padding: 1rem;
  background-color:var(--grid-bg);
  z-index: 10;
  height: calc(100% - 6rem);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 3px 6px #000000;
}
.notification-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
}
.notification-heading{
  font-size: 1.3rem;
  color: var(--primary-color);
}
.notification-body{
background-color: var(--grid-bg);
}
#notification .maininfo-card-info{
background-color: unset;
box-shadow: none;
}
#notification .devicelist-activeheading{
background-color: var(--main-bg);
}
#notification .devicelist-infobody{
background-color: var(--main-bg);
}
#notification .deviceinfo-vendor{
background-color: var(--grid-bg);
}
#notification .devicelist-card{
background-color: var(--main-bg);
}


.notification-close{
width: 1rem;
height: 1rem;
}


/* Spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.notification-summary-card
{
    color:white
}